<%- include('partials/header') %>

<main>
     <h1><%= h1 %></h1>
    <ul class="category-list">
    <li class="loader__element">Environmental</li>
    <li class="loader__element">Educational</li>
    <li class="loader__element">Community Service</li>
    <li class="loader__element">Health and Wellness</li>
    </ul>
        <button><%= button %></button>
    <section class="category-element">
        <h2><%= h2 %></h2>
        <p><%= p %></p>
        <p><%= p2 %></p>
        <p><%= p3 %></p>
        <a href="/"><%= a %></a>
        <a href="/"><%= a2 %></a>
        <a href="/"><%= a3 %></a>
    </section>

</main>

<%- include('partials/footer') %>

