<%- include('partials/header') %>

<main>
     <h1><%= h1 %></h1>
    <ul class="category-list">
    <li class="loader__element">Environmental</li>
    <li class="loader__element">Educational</li>
    <li class="loader__element">Community Service</li>
    <li class="loader__element">Health and Wellness</li>
    </ul>
        <button><%= button %></button>
    <div class="category-element">
  <h2><%= h2 %></h2>
  <ul class="category-list">
    <li><%= p %> <a href="#/"><%= a %></a></li>
    <li><%= p2 %> <a href="#/"><%= a2 %></a></li>
    <li><%= p3 %> <a href="#/"><%= a3 %></a></li>
  </ul>
</div>


</main>

<%- include('partials/footer') %>

