<%- include('partials/header') %>
<main class="container">
  <h1><%= title %></h1>
  <p class="subtitle">Discover our latest community service projects and how you can contribute.</p>
  <section class="projects">
    <h2>Service Projects</h2>
    <ul class="project-list">
      <% projects.forEach(project => { %>
        <li class="project-item">
          <article>
            <header>
              <h2><%= project.project_title %></h2>
            </header>
            <p><strong>Description:</strong> <%= project.description %></p>
            <p><strong>Location:</strong> <%= project.location %></p>
            <p><strong>Date:</strong> 
              <%= new Date(project.project_date).toLocaleDateString('en-US', { 
                    year: 'numeric', 
                    month: 'long', 
                    day: 'numeric' 
                  }) %>
            </p>
            <p>
              <strong>Contact:</strong><a href="mailto:<%= project.contact_email %>?subject=Interested in <%= project.project_title %>">
                <%= project.contact_email %>
              </a>
            </p>
            <% if (project.logo_filename) { %>
                <p>
                  <strong>Organization Logo:</strong> 
                  <img src="<%= project.logo_filename %>" alt="<%= project.organization_name %> Logo" width="100" height="100">
                </p>
                 <% } %>
                    <p><strong>Categories: </strong>
  <% project.category_names.forEach((cat, i) => { %>
    <a href="/categorydetails/<%= project.category_ids[i] %>"><%= cat %></a>
  <% }) %>
</p>
              
            <p> <strong>Organization:</strong><a href="/organizationdetails/<%= project.organization_id %>"><%= project.organization_name %></a> </p>
           
          </article>
        </li>
      <% }); %>
    </ul>
  </section>

  <section class="get-involved">
    <h2>Get Involved</h2>
    <p>Join us in making a difference. Click below to explore opportunities and participate in our initiatives.</p>
    <button class="pulse"><%= button %></button>
  </section>
</main>

<%- include('partials/footer') %>
